.centered-image {
  display: block;
  max-width: 70%;
  height: auto;
  margin: 0 auto;
}

.video-centering{
  text-align: center;
  width: 560px;
  margin: 0 auto;
  
}

.video-centering iframe {
  display: block;
  margin-bottom: 20px;
}
